.App {
    --header_height: 60px;
}

.hw {
    padding: 50px;
    position: relative;
    height: 520px;
    border-bottom: 2px solid #D9D9D9;
    min-width: 1280px;
}


.hwTitle {
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
    height: 20px;
    font-weight: 600;
    font-size: 22px;
    color: #000000;
    border-bottom: 2px solid #D9D9D9;
    min-width: 1280px;
}