.container {
}

.wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

.number {
    flex-direction: inherit;
    margin-top: -18px;
    margin-left: 20px;
    margin-right: 20px;
}
